<div class="row animate__animated animate__fadeInRightBig">
    <div class="col-12">
        <div class="alert salmon text-center" role="alert">
            <h4 class="alert-heading">¡Comienza a buscar entre cientos productos y servicios ofrecidos por emprendedores
                de tu area
                sin ningún tipo de
                registro!
            </h4>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-9">

        <div class="row animate__animated animate__fadeInLeftBig animate__delay-1s">
            <div class="col-md-2">
                <div class="card salmon">
                    <div class="card-body text-center">
                        <h5 class="card-title">Paso<br>1</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card salmon-outline rounded-50">
                    <div class="card-body">
                        <p class="h5">Selecciona la región y comuna donde perteneces o quieres buscar emprendedores.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2 animate__animated animate__fadeInLeftBig animate__delay-2s">
            <div class="col-md-2">
                <div class="card salmon">
                    <div class="card-body text-center">
                        <h5 class="card-title">Paso<br>2</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card salmon-outline rounded-50">
                    <div class="card-body">
                        <p class="h5">Con la ubicación seleccionada presiona el boton de "busqueda" situado al final del filtrador</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2 animate__animated animate__fadeInLeftBig animate__delay-3s">
            <div class="col-md-2">
                <div class="card salmon">
                    <div class="card-body text-center">
                        <h5 class="card-title">Paso<br>3</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card salmon-outline rounded-50">
                    <div class="card-body">
                        <p class="h5">¡Accede a cientos de emprendedores en tu area y encuentra lo que necesitas!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-3 animate__animated animate__fadeIn animate__delay-4s">
        <app-filtro></app-filtro>
    </div>

</div>