<div class="row">
    <div class="col-md-4">
        <div class="card cursor salmon-outline" [routerLink]="['../solicitudesPerfil']">
            <div class="card-body text-center">
                <i class="fas fa-skull-crossbones fa-spin fa-4x"></i>
                <h3 class="card-title mt-2">Solicitudes Perfil</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card cursor salmon-outline" [routerLink]="['../solicitudesProductos']">
            <div class="card-body text-center">
                <i class="fas fa-skull-crossbones fa-spin fa-4x"></i>
                <h3 class="card-title mt-2">Solicitudes Productos</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card cursor salmon-outline" [routerLink]="['../logErrores']">
            <div class="card-body text-center">
                <i class="fas fa-skull-crossbones fa-spin fa-4x"></i>
                <h3 class="card-title mt-2">Log Errores</h3>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="card cursor salmon-outline" [routerLink]="['../solicitudesDestacados']">
            <div class="card-body text-center">
                <i class="fas fa-skull-crossbones fa-spin fa-4x"></i>
                <h3 class="card-title mt-2">Solicitudes destacados</h3>
            </div>
        </div>
    </div>
</div>