p{
    margin: 0px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 99;
 }

 @media (min-width: 62em) {
    .footer {
        display: none;
    }
}