<div class="row">
    <div class="col-6">
        <h3 class="salmon-text" [ngStyle]="{'border-color': perfil.color, 'color': perfil.color}">Mi Página</h3>
    </div>
    <div class="col-6 text-right">
        <a class="salmon-text cursor h3" [ngStyle]="{'border-color': perfil.color, 'color': perfil.color}" [routerLink]="['/miPerfil/inicio']"><i class="fas fa-arrow-left"></i> Volver</a>
    </div>
</div>
<hr>

<div id="myGroup" *ngIf="perfil._id">

    <div class="row">

        <div class="col-12">
            <button class="btn salmon-outline btn-block"
                [ngStyle]="{'border-color': perfil.color, 'color': perfil.color}" type="button" data-toggle="collapse"
                data-target="#collapsePerfil" aria-expanded="false" aria-controls="collapsePerfil">
                Vista previa de mi Perfil
            </button>
        </div>

    </div>


    <!-- ROW PERFIL ACTUAL -->
    <div class="collapse" id="collapsePerfil" data-parent="#myGroup">
        <div class="mt-3">
            <app-perfil-componente [perfil]="perfil"></app-perfil-componente>
        </div>
    </div>

</div>

<div class="row mt-4" *ngIf="perfil._id">
    <div class="col-12">
        <div class="card salmon-outline" [ngStyle]="{'border-color': perfil.color, 'color': perfil.color}">
            <div class="card-body">
                <h3 class="card-title">Editar Perfil</h3>
                <hr>
                <form ngNativeValidate #formPerfil="ngForm" (submit)="updatePerfil(formPerfil)">
                    <label>Nombre</label>
                    <input type="text" [(ngModel)]="perfil.nombre" name="nombre" class="form-control" required>
                    <label>Logo de mi Negocio/Empresa</label>
                    <br>
                    <input type="file" (change)="seleccionImagen($event.target.files[0])" name="imagenSubirPerfil">
                    <br>
                    <label>Descripcion</label>
                    <input type="text" [(ngModel)]="perfil.descripcion" name="descripcion" class="form-control"
                        required>
                    <label>Color que representa mi empresa/negocio</label>
                    <input type="color" [(ngModel)]="perfil.color" name="color" class="form-control">
                    <label>Enlace a su Facebook (Opcional)</label>
                    <input type="text" [(ngModel)]="perfil.facebookUrl" name="facebookUrl" class="form-control">
                    <label>Enlace a su Twitter (Opcional)</label>
                    <input type="text" [(ngModel)]="perfil.twitterUrl" name="twitterUrl" class="form-control">
                    <label>Enlace a su Instagram (Opcional)</label>
                    <input type="text" [(ngModel)]="perfil.instagramUrl" name="instagramUrl" class="form-control">
                    <label>Enlace a su Pagina Web (Opcional)</label>
                    <input type="text" class="form-control">
                    <label>Numero Contacto</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">+56</div>
                        </div>
                        <input type="text" [(ngModel)]="perfil.contacto" name="contacto" class="form-control">
                    </div>
                    <button [disabled]="formPerfil.invalid" type="submit" class="btn salmon-outline btn-block mt-3"
                        [ngStyle]="{'border-color': perfil.color, 'color': perfil.color}">Actualizar
                        Perfil</button>
                </form>
            </div>
        </div>
    </div>
</div>