<div class="card salmon-outline">

    <div class="card-header">
        <div align="center">FORMULARIO DE PROYECTO</div>
    </div>

    <div class="card-body">
        <form action="">
            <div class="row">
                <div class="col-md-12">
                    <label for="">Cliente</label>
                    <select class="form-control" name="" id="">
                        <option value="">--seleccione--</option>
                    </select>
                </div>
                
            </div>

            <div class="row mt-2">
                <div class="col-md-12">
                    <label for="">Proyecto</label>
                    <input class="form-control" type="text" name="" id="">
                </div>
                
            </div>

            <div class="row mt-2">
                <div class="col-md-6">
                    <label for="">Fecha de inicio</label>
                    <input class="form-control" type="datetime-local" name="" id="">
                </div>
                <div class="col-md-6">
                    <label>Estado del proyecto</label>
                    <input class="form-control" type="text" [disabled]="true" value="SIN ESTADO / NO CREADO">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-6">
                    <label>Total</label>
                    <input class="form-control" type="text" name="" id="">
                </div>
                <div class="col-md-6">
                    <label for="">Cuotas</label>
                    <input class="form-control" type="number" name="" id="">
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-block btn-light">Registar</button>
    </div>

</div>