<div class="row">
    <div class="col-6">
        
        <h3 class="salmon-text" [ngStyle]="{'border-color': perfil.color, 'color': perfil.color}">Destacados</h3>
    </div>
    <div class="col-6 text-right">
        <a class="salmon-text cursor h3" [ngStyle]="{'border-color': perfil.color, 'color': perfil.color}"
            [routerLink]="['/miPerfil/inicio']"><i class="fas fa-arrow-left"></i> Volver</a>
    </div>
</div>
<hr>

<div id="myGroup" *ngIf="perfil._id">

    <div class="row">

        <div class="col-12">
            <div class="alert alert-success text-center salmon" role="alert">
                <h4 class="alert-heading mt-3"><i class="fas fa-sad-tear fa-3x"></i></h4>
                <p class="h4">Aún no tiene productos en la sección de destacados</p>
            </div>
        </div>

    </div>
    <!-- aqui en este div listare los productos/servicios destacados -->
    <div>

    </div>
    <hr>

    <h3 [ngStyle]="{'border-color': perfil.color, 'color': perfil.color}" class="left-center">No destacados</h3>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr [ngStyle]="{'border-color': perfil.color, 'color': 'white', 'background':perfil.color}">
                <td>Imagen</td>
                <td>titulo</td>
                <td>Descripcion</td>
                <td></td>
            </tr>
            <tr *ngFor="let p of no_destacados ">
                <img style="width: 5rem;" class="rounded" [src]="p.foto1Url | imagenes:'productos'" alt="el kkck">
                <td>{{p.titulo}}</td>
                <td>{{p.descripcion}}</td>
                <td>
                    <button type="submit"
                            class="btn salmon-outline btn-block mt-3 btn-sm"
                           [ngStyle]="{'border-color': perfil.color, 'color': perfil.color}"
                           (click)="datos(p)"
                           data-toggle="modal" data-target="#exampleModal"
                           >
                           <!-- <i class="fas fa-medal"></i> -->
                           Destacar
                    </button>

                    
                </td>
            </tr>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" [ngStyle]="{'border-color': perfil.color, 'background': perfil.color}">
                        <h5 class="modal-title" id="exampleModalLabel" style="color:white"><i class="fas fa-medal"></i> Destacar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- <pre>{{publicacion | json}}</pre> -->
                    <div class="alert alert-dismissible fade show" [ngStyle]="{'background': perfil.color, 'color':'white'}" role="alert">
                        Al solicitar un destacado los administradores se contactaran contigo
                        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> -->
                    </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img style="width: 5rem;" class="rounded" [src]="publicacion.foto1Url | imagenes:'productos'" alt="el kkck">
                            </div>
                            <div class="col-md-8">
                                <p>{{publicacion.titulo}}</p>
                                <p [ngStyle]="{'color': perfil.color}">${{publicacion.precio}}</p>
                            </div>
                        </div>
                        <label for="">Destacar por:</label>
                        <select [(ngModel)]="semanas" name="" id="" class="form-control">
                            <option value="1">1 semana ($2.000)</option>
                            <option value="2">2 semanas ($4.000)</option>
                            <option value="3">3 semanas ($6.000)</option>
                            <option value="4">4 semanas ($8.000)</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button (click)="solicitar(publicacion)" type="button" class="btn" [ngStyle]="{'color':'white','background': perfil.color}">Solicitar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
