


<div class="card salmon-outline">

    <div class="card-header">
        <div align="center">FORMULARIO DE CLIENTES</div>
    </div>
    <div class="card-body">
        <form action="">
            <div class="row">
                <div class="col-md-6">
                    <label class="txt-gris" for="">Nª Cliente</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-6">
                    <label class="txt-gris" for="">Fecha de ingreso</label>
                    <input type="text" class="form-control">    
                </div>
            </div>
    
            <div class="row mt-3">
                <div class="col-md-6">
                    <label class="txt-gris" for="">Nombres</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-6">
                    <label class="txt-gris" for="">Apellidos</label>
                    <input type="text" class="form-control">    
                </div>
            </div>
    
            <div class="row mt-3">
                <div class="col-md-6">
                    <label class="txt-gris" for="">Contacto</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-6">
                    <label class="txt-gris" for="">Villa/población</label>
                    <input type="text" class="form-control">    
                </div>
            </div>
    
            <div class="row mt-3">
                <div class="col-md-6">
                    <label class="txt-gris" for="">Calle</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-6">
                    <label class="txt-gris" for="">Nª Casa</label>
                    <input type="text" class="form-control">    
                </div>
            </div>
        </form>
    </div>

    <div class="card-footer">
        <button class="btn btn-light btn-block">Registrar</button>
    </div>
</div>
