/* You can add global styles to this file, and also import other style files */

body {
    overflow-x: hidden;
}

/* 4287f5 */

.salmon {
    background: #521642;
    color: white;
}

.button-selected{
    border:solid;
    border-radius:28px;
}
.button-selected:hover{
    background:white;
    color: #521642;
    border-color: #521642;
}

.salmon-text {
    color: #521642;
}

.salmon-outline {
    border-color: #521642;
    color: #521642;
}

.rounded-50 {
    border-radius: 50px;
}

.cursor {
    cursor: pointer;
}

.scroll {
    max-height: 400px;
    overflow-y: auto;
}

.modal {
    background-color: rgba(133, 126, 126, 0.39);
}

.modal-open {
    overflow: inherit;
}